<!DOCTYPE html>
<html layout:decorate="~{dashboard}">
	<head>
		<meta charset="UTF-8"/>
	</head>
	<body>
	    <section class="layout-content" layout:fragment="conteudo">
	        <div id="content-wrapper">
                <div class="container-fluid">
                	<!-- Breadcrumbs-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/dashboardEscola">Painel</a>
                        </li>
                        <li class="breadcrumb-item active">Chamadas</li>
                        <li class="breadcrumb-item active">Editar presença</li>
                    </ol>
                    <div th:replace="fragments/alert"></div>
                    <div class="card">
                    	<p class="card-header">Selecione o status para o aluno na chamada
                    		<a th:href="@{/getChamadasEscola}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm  float-right">Ver chamadas</a>
                    	</p>
                        <div class="card-body">
                        	<form th:action="@{/editarPresencaEscola}" th:object="${aluno}" method="POST">
                        		<div>
		                        	<div class="form-row">
		                        		 <div class="form-group col-md-4">
		                        	         <label for="inputNome">Aluno</label>
		                                     <input type="text" class="form-control" id="inputNome" required="true" th:field="*{nome}" readonly="true"/>
		                                 </div>
		                                 <div class="form-group col-md-4">
		                                 	<label for="inputData">Data da chamada</label>
		                                 	<input type="text" class="form-control" id="inputData" required="true" th:field="*{dataNascimento}" readonly="true"/>
		                                 </div>
			                        	 <div class="form-group col-md-4">
			                        	 	<label for="inputPresenca">Presença</label>
			                        	    <select id="inputPresenca" class="presenca form-control" required="true" th:field="*{endereco}">
											  	<option value="" disabled>Escolha</option>
											  	<option value="Presente">Presente</option>
											  	<option value="Ausente">Ausente</option>
											</select>
			                             </div>
			                         </div>
		                             <div class="form-row">
		                              	<input type="hidden" id="id" th:field="*{id}" />
		                               	<button class="btn btn-success" type="submit">Salvar</button>
		                             </div>
		                        </div>
                        	</form>
                        </div>
                    </div>
                </div>
            </div>
	    </section>
	</body>
</html>		