<!DOCTYPE html>
<html layout:decorate="~{dashboardProfessor}">
	<head><meta charset="UTF-8"/></head>
	<body>
	    <section class="layout-content" layout:fragment="conteudoProfessor">
			<div id="content-wrapper">
				<div class="container-fluid">
					<!-- Breadcrumbs-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/dashboardProfessor">Painel</a>
                        </li>
                        <li class="breadcrumb-item active">Alunos</li>
                        <li class="breadcrumb-item active">Lista de Alunos</li>
                    </ol>
                    <div th:replace="fragments/alert"></div>
                    <div class="card">
	                    <p class="card-header">Lista dos alunos nas suas classes
	                    	<a th:href="@{/listarClassesProfessor}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right">Ver classes</a>
	                    	<button type="button" class="btn btn-success btn-sm float-right" data-toggle="collapse" data-target="#collapseNome" aria-controls="collapseNome">Buscar aluno</button>
	                    </p>
	                    <div class="row">
	                    	<div class="col" style="margin-left=5%;">
	                    		<div class="collapse" id="collapseNome">
	                    			<form class="form-inline" method="GET" th:action="@{/alunos/professor/buscar/nome}">
	                    				<input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Aluno" aria-label="Procurar" th:name="nome"/>
	                    				<button class="btn btn-success btn-sm float-right">Procurar</button>
	                    			</form>
	                    		</div>
	                    	</div>
	                    </div>
	                      <div class="card-body">
				            <div class="table-responsive">
				                <table class="table table-striped table-hover table-sm">
				                    <thead>
				                    <tr>
				                        <th>#</th>
				                        <th>Nome</th>
				                        <th>Classe</th>
				                        <th>Ação</th>
				                    </tr>
				                    </thead>
				                    <tbody>
					                    <tr th:each="a : ${alunos}">
					                        <td th:text="${a[0]}">1</td>
					                        <td th:text="${a[1]}">Aluno</td>
					                        <td th:text="${a[2]}">Classe</td>
					                        <td colspan="2">
					                        	<a class="btn btn-success btn-sm" th:href="@{/professor/enviarAvisoAluno/{id} (id=${a[0]}) }" role="button" data-toggle="tooltip" data-placement="left" title="Enviar aviso">
				                                	<i class="fas fa-envelope-open-text"></i>
				                            	</a>
					                            <a class="btn btn-info btn-sm" th:href="@{/professores/getDadosAluno/{id} (id=${a[0]}) }" role="button" data-toggle="tooltip" data-placement="left" title="Visualizar dados">
				                                	<i class="fas fa-arrow-right"></i>
				                            	</a>
					                        </td>
					                    </tr>
				                    </tbody>
				                </table>
				            </div>
				        </div>  
	                </div>
				</div>
			</div>
	    </section>
	</body>
</html>	